@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul id="messages"></ul>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/bot.js"></script>
</body>
</html>
